.gerenciar-carrossel-component {
  .accordion {
    .accordion-item {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.375rem;
      margin-bottom: 0.5rem;

      .accordion-header {
        .accordion-button {
          font-weight: 500;
          background-color: #f8f9fa;
          
          &:not(.collapsed) {
            background-color: #e7f1ff;
            color: #0a58ca;
          }

          &:focus {
            box-shadow: none;
            border-color: transparent;
          }
        }
      }

      .accordion-body {
        padding: 1.5rem;
        background-color: #fff;
      }
    }
  }
}

